services:
  app:

    image: vic0119/cloud-native:latest
    restart: always
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
