name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  # terraform:
  #     name: Infrastructure TE
  #     runs-on: ubuntu-latest
  #     steps:
  #         - name: Check
  #           uses: actions/checkout@v3

  #         - name: Setup Te
  #           uses: hashicorp/setup-terraform@v2

  #         - name: Terraform Apply
  #           env:
  #               AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #               AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #           run: |
  #               cd terraform
  #               terraform init
  #               terraform apply -auto-approve

  build-and-push:
    name: Docker Build
    # #  needs: terraform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: vic0119/cloud-native:latest

  deploy:
    name: Deploy
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker stop $(sudo docker ps -aq) || true
            sudo docker rm $(sudo docker ps -aq) || true
            if [ ! -f /usr/local/bin/docker-compose ]; then
                sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
                sudo chmod +x /usr/local/bin/docker-compose
            fi
            mkdir -p ~/cloud-native/docker
            cd ~/cloud-native

            sudo /usr/local/bin/docker-compose pull
            sudo /usr/local/bin/docker-compose up -d --force-recreate
            echo "部署完成"
            sudo docker ps
